<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../templates/profile/profile.css">
    <script src="../../component/profile/profile.js" defer></script>
    <script src="../../component/nav/nav.js" defer></script>
    <script src="../../component/profile/groupLink.js" defer></script>

    <script src="../../templates/profile/profile.js"></script>

	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    <title>Profile</title>
    <link rel="icon" href="../../templates/icon.png" type="image/icon type">
</head>
<body>
    <custom-nav url="../../component/nav/"></custom-nav>
    <div class="container">
        
    </div>
</body>
</html>